<!DOCTYPE html>
<html>
    <head>
        <title>Isabelle's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Isabelle's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first ever post on my blog!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>And this is my second post! Isn't this exciting?</p>
        </article>
    </body>
</html>